html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: $base;
}

.wrapper {
	width: 80%;
	padding: 20px 10%;
	margin: 20px auto;
}

.base_div {
	@extend %base_divstyle;
}
